@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.4s linear;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
}

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(8, 40, 41, 0.05);
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.border-btn {
  color: #149E4C;
  border: 1px solid #ebebeb;
}
.border-btn:hover {
  border-color: #149E4C;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.rate {
  font-size: 14px;
  color: #8b8b8b;
}
.rate:before {
  content: "";
  background: url("../img/star.svg") no-repeat 0 0/contain;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  margin: -1px 8px 0 0;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.info-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(20, 158, 76, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-icon:before {
  content: "";
  background: url("../img/check-icon.svg") no-repeat 0 0/contain;
  width: 13px;
  height: 9px;
}

.content-header-payment__top-wrap {
  background: #FFFFFF;
  padding: 21px 0 32px;
}
.content-header-payment__top-wrap .breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #8b8b8b;
}
.content-header-payment__top-wrap .breadcrumbs li:last-child:after {
  display: none;
}
.content-header-payment__top-wrap .breadcrumbs li:after {
  content: "";
  background: #8b8b8b;
  width: 15px;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 10px;
}
.content-header-payment__top-wrap .breadcrumbs li a {
  color: #8b8b8b;
}
.content-header-payment__top-wrap .breadcrumbs li a:hover {
  text-decoration: underline;
}
.content-header-payment__top-wrap .head-wrap {
  margin-top: 23px;
  display: flex;
  align-items: flex-end;
}
.content-header-payment__top-wrap .head-wrap__logo {
  width: 161px;
  height: 161px;
  margin-bottom: -74px;
}
.content-header-payment__top-wrap .head-wrap__logo img {
  width: 100%;
}
.content-header-payment__top-wrap .head-wrap__name {
  margin-top: 4px;
  margin-left: 37px;
}
.content-header-payment__top-wrap .head-wrap__name-title {
  font-size: 20px;
  color: #050A0A;
}
.content-header-payment__top-wrap .head-wrap__name-subtitle {
  margin-top: 13px;
  display: flex;
  align-items: center;
}
.content-header-payment__top-wrap .head-wrap__name-subtitle .info {
  font-size: 14px;
  color: #8b8b8b;
  margin-left: 20px;
}

.content {
  padding: 73px 0 50px;
  background: #f8f8f8;
}
.content .inner-title {
  font-size: 20px;
  color: #050A0A;
  margin-bottom: 21px;
  letter-spacing: -0.015em;
}
.content .content-center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content__side-menu {
  width: 24%;
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(8, 40, 41, 0.05);
  border-radius: 6px;
  padding: 0 20px 20px;
}
.content__side-menu .side-menu__list-item {
  border-bottom: 1px solid #ebebeb;
}
.content__side-menu .side-menu__list-item a {
  font-size: 14px;
  color: #050A0A;
  display: block;
  padding: 20px 0 17px;
  position: relative;
  outline: none;
  width: max-content;
}
.content__side-menu .side-menu__list-item a:before {
  content: "";
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: #BFBFBF;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 15px;
  margin-top: -1px;
}
.content__side-menu .side-menu__list-item a:hover {
  color: #149E4C;
}
.content__side-menu .side-menu__list-item a:hover:before {
  background-color: #149E4C;
}
.content__side-menu .side-menu__list .active a {
  color: #149E4C;
}
.content__side-menu .side-menu__list .active a:before {
  background-color: #149E4C;
}
.content__side-menu .side-menu__list .item-1 a:before {
  mask-image: url("../img/aside-icon-2.svg");
  width: 14px;
  height: 15px;
}
.content__side-menu .side-menu__list .item-2 a:before {
  mask-image: url("../img/aside-icon-10.svg");
  width: 15px;
  height: 14px;
}
.content__side-menu .side-menu__list .item-3 a:before {
  mask-image: url("../img/aside-icon-7.svg");
  width: 15px;
  height: 15px;
}
.content__side-menu .side-menu__list .item-4 a:before {
  mask-image: url("../img/aside-icon-9.svg");
  width: 15px;
  height: 15px;
}
.content__side-menu .casino-info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.content__side-menu .casino-info__img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}
.content__side-menu .casino-info__name {
  margin-left: 15px;
}
.content__side-menu .casino-info__name .name {
  font-size: 14px;
  color: #050A0A;
}
.content__right-side {
  width: 74.5%;
}
.content__right-side .bonuses__more {
  margin: 28px -30px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ebebeb;
  padding: 28px 30px 0;
}
.content__right-side .bonuses__more .show-all {
  font-size: 14px;
  color: #149E4C;
  cursor: pointer;
}
.content__right-side .bonuses__more .show-all:before {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #149E4C;
  width: 14px;
  height: 9px;
  display: inline-block;
  vertical-align: top;
  margin: 3px 12px 0 0;
}
.content__right-side .characteristics,
.content__right-side .bonuses,
.content__right-side .faq {
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(8, 40, 41, 0.05);
  border-radius: 6px;
  padding: 30px 30px 30px;
  margin-bottom: 20px;
}
.content__right-side .characteristics__info,
.content__right-side .bonuses__info,
.content__right-side .faq__info {
  display: none;
}
.content__right-side .characteristics .toggle-list,
.content__right-side .bonuses .toggle-list,
.content__right-side .faq .toggle-list {
  display: block;
}
.content__right-side .characteristics .toggle-arrow:before,
.content__right-side .bonuses .toggle-arrow:before,
.content__right-side .faq .toggle-arrow:before {
  transform: rotate(180deg);
}
.content__right-side .characteristics {
  padding-bottom: 30px;
}
.content__right-side .characteristics__title {
  margin-bottom: 22px;
}
.content__right-side .characteristics__txt {
  margin-top: 12px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  margin-bottom: 20px;
}
.content__right-side .characteristics__list {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.content__right-side .characteristics__list-item {
  width: 280px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 30px;
}
.content__right-side .characteristics__list-text {
  margin-left: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #050A0A;
}
.content__right-side .bonuses__list-title {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
.content__right-side .bonuses__list-title li {
  font-size: 12px;
  text-transform: uppercase;
  color: #8b8b8b;
  letter-spacing: 0.05em;
}
.content__right-side .bonuses__list-title li:nth-child(1) {
  width: 35%;
}
.content__right-side .bonuses__list-title li:nth-child(2) {
  width: 26%;
}
.content__right-side .bonuses__list-title li:nth-child(3) {
  width: 99px;
  flex-shrink: 0;
}
.content__right-side .bonuses__list {
  margin-top: 10px;
}
.content__right-side .bonuses__list-item {
  padding: 21px 0;
  display: flex;
  border-bottom: 1px solid #ebebeb;
  justify-content: space-between;
  align-items: center;
}
.content__right-side .bonuses__list-wrap {
  display: flex;
  align-items: center;
  width: 27%;
}
.content__right-side .bonuses__list-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  flex-shrink: 0;
}
.content__right-side .bonuses__list-name {
  font-size: 16px;
  color: #050A0A;
  margin-top: 3px;
}
.content__right-side .bonuses__list-rate-mob {
  display: none;
}
.content__right-side .bonuses__list-rate {
  width: 15%;
  margin-top: 2px;
}
.content__right-side .bonuses__list-bonus {
  font-size: 16px;
  color: #050A0A;
  width: 36%;
  margin-top: 2px;
}
.content__right-side .bonuses__list-bonus-mob {
  display: none;
}
.content__right-side .bonuses__list-btn {
  padding: 13px 21px 11px;
}
.content__right-side .bonuses__info .bonuses__list {
  margin-top: 0;
}
.content__right-side .bonuses__more {
  margin-top: -1px;
}
.content__right-side .faq__list {
  margin-top: 30px;
}
.content__right-side .faq__list-item {
  background: #FFFFFF;
  list-style: none;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  cursor: pointer;
  margin-bottom: 10px;
}
.content__right-side .faq__list-item summary::-webkit-details-marker {
  display: none;
}
.content__right-side .faq__list-item > summary {
  list-style: none;
}
.content__right-side .faq__list-item[open] > summary:before {
  transform: rotate(180deg);
}
.content__right-side .faq__list-item-title {
  font-size: 16px;
  color: #050A0A;
  outline: none;
  position: relative;
  padding: 24px 30px;
  display: flex;
  align-items: center;
  height: 100%;
}
.content__right-side .faq__list-item-title:before {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-size: 14px 9px;
  background-repeat: no-repeat;
  background-color: #149E4C;
  width: 14px;
  height: 9px;
  display: block;
  position: absolute;
  top: 45%;
  right: 28px;
}
.content__right-side .faq__list-item-text {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  padding: 0 30px 24px;
}

@media screen and (max-width: 1200px) {
  .content-header-payment__top-wrap {
    padding: 21px 15px 32px;
  }

  .content {
    padding: 73px 15px 50px;
  }
  .content__side-menu .casino-info {
    flex-wrap: nowrap;
  }
  .content__side-menu__img {
    flex-shrink: 0;
  }
  .content__right-side .faq__list-item-title {
    padding: 24px 60px 24px 30px;
  }
}
@media screen and (max-width: 1023px) {
  .content-header-payment__top-wrap {
    padding: 21px 15px 25px;
  }
  .content-header-payment__top-wrap .head-wrap {
    margin-top: 25px;
    align-items: center;
  }
  .content-header-payment__top-wrap .head-wrap__logo {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .content-header-payment__top-wrap .head-wrap__name {
    margin: 0 15px 0 30px;
  }
  .content-header-payment__top-wrap .head-wrap__name-subtitle {
    margin-top: 8px;
  }

  .content {
    padding: 20px 15px 50px;
  }
  .content .content-center {
    flex-direction: column;
  }
  .content__side-menu {
    width: auto;
    margin: 0 -15px;
    border-radius: 0;
    padding: 0;
  }
  .content__side-menu .side-menu__list::-webkit-scrollbar {
    display: none;
  }
  .content__side-menu .side-menu__list {
    display: flex;
    padding: 0 15px;
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: scroll;
    background: transparent;
    border-bottom: 1px solid #ebebeb;
  }
  .content__side-menu .side-menu__list-item {
    border-bottom: 0;
    margin-right: 25px;
    flex-flow: row nowrap;
  }
  .content__side-menu .side-menu__list-item:last-child {
    margin-right: 0;
  }
  .content__side-menu .side-menu__list-item:hover {
    border-bottom: 2px solid #149E4C;
  }
  .content__side-menu .side-menu__list-item a:before {
    margin-right: 12px;
  }
  .content__side-menu .side-menu__list .active {
    border-bottom: 2px solid #149E4C;
  }
  .content__side-menu .casino-info {
    display: none;
  }
  .content__right-side {
    width: 100%;
    margin-top: 15px;
  }
  .content__right-side .faq__list-item-title {
    padding: 16px 45px 13px 20px;
    font-size: 15px;
  }
  .content__right-side .faq__list-item-title:before {
    right: 20px;
  }
  .content__right-side .faq__list-item-text {
    padding: 0 20px 30px;
  }
}
@media screen and (max-width: 767px) {
  .content-header-payment__top-wrap {
    padding: 21px 15px 18px;
  }
  .content-header-payment__top-wrap .head-wrap {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
  .content-header-payment__top-wrap .head-wrap__logo {
    width: 90px;
    height: 90px;
  }
  .content-header-payment__top-wrap .head-wrap__name {
    margin: 0 0 0 22px;
    max-width: 230px;
  }
  .content-header-payment__top-wrap .head-wrap__name-subtitle .info {
    margin-left: 13px;
  }

  .content .inner-title {
    font-size: 18px;
  }
  .content__right-side .bonuses__more {
    margin-bottom: -12px;
    padding-top: 18px;
  }
  .content__right-side .characteristics,
.content__right-side .bonuses,
.content__right-side .faq {
    padding: 30px 26px;
    border-radius: 2px;
  }
  .content__right-side .characteristics__list {
    margin-top: 25px;
    width: 100%;
  }
  .content__right-side .characteristics__list-item:last-child {
    margin-bottom: 0;
  }
  .content__right-side .characteristics__list-text {
    line-height: 16px;
  }
  .content__right-side .characteristics__txt {
    margin-bottom: 25px;
  }
  .content__right-side .bonuses__list-title {
    display: none;
  }
  .content__right-side .bonuses__list-item {
    padding: 16px 0;
  }
  .content__right-side .bonuses__list-wrap {
    width: 42%;
    margin-right: 10px;
  }
  .content__right-side .bonuses__list-img {
    margin-right: 12px;
  }
  .content__right-side .bonuses__list-name {
    font-size: 14px;
    line-height: 14px;
  }
  .content__right-side .bonuses__list-rate-mob {
    display: flex;
    font-size: 12px;
    margin-top: 5px;
  }
  .content__right-side .bonuses__list-rate-mob:before {
    width: 11px;
    height: 11px;
    margin: 0 5px 0 0;
  }
  .content__right-side .bonuses__list-rate {
    display: none;
  }
  .content__right-side .bonuses__list-bonus {
    display: none;
  }
  .content__right-side .bonuses__list-bonus-mob {
    display: block;
    margin-right: 10px;
    margin-top: 3px;
  }
  .content__right-side .bonuses__list-bonus-mob span {
    display: block;
    font-size: 14px;
    color: #050A0A;
  }
  .content__right-side .bonuses__list-bonus-mob span + span {
    font-family: Gilroy-Regular, sans-serif;
    font-size: 12px;
    color: #8b8b8b;
    margin-top: 1px;
  }
  .content__right-side .bonuses__list-btn {
    font-size: 12px;
    padding: 9px 10px 6px;
  }
  .content__right-side .faq__list-item-title {
    font-size: 14px;
    padding: 16px 50px 13px 20px;
  }
}
@media screen and (max-width: 374px) {
  .content-header-payment__top-wrap .head-wrap__logo {
    width: 70px;
    height: 70px;
  }
  .content-header-payment__top-wrap .head-wrap__name {
    margin: 0 0 0 15px;
    max-width: 202px;
  }
  .content-header-payment__top-wrap .head-wrap__name-title {
    font-size: 18px;
    line-height: 20px;
  }
  .content-header-payment__top-wrap .head-wrap__name-subtitle .info-icon {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
  }
  .content-header-payment__top-wrap .head-wrap__name-subtitle .info-icon:before {
    width: 11px;
    height: 7px;
  }
  .content-header-payment__top-wrap .head-wrap__name-subtitle .info {
    font-size: 12px;
    margin-left: 10px;
  }

  .content__right-side .bonuses__more {
    margin-bottom: -6px;
  }
  .content__right-side .characteristics,
.content__right-side .bonuses,
.content__right-side .faq {
    padding: 20px;
  }
  .content__right-side .characteristics__list-item .info-icon {
    width: 25px;
    height: 25px;
  }
  .content__right-side .characteristics__list-item .info-icon:before {
    width: 11px;
    height: 7px;
  }
  .content__right-side .bonuses__list-wrap {
    width: 47%;
  }
  .content__right-side .bonuses__list-img {
    margin-right: 10px;
  }
  .content__right-side .bonuses__list-bonus-mob {
    width: 58px;
  }
  .content__right-side .bonuses__list-btn span {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
