@media screen and (max-width: 1200px)
  .content-header-payment
    &__top-wrap
      padding: 21px 15px 32px
  .content
    padding: 73px 15px 50px
    &__side-menu
      .casino-info
        flex-wrap: nowrap
      &__img
        flex-shrink: 0
    &__right-side
      .faq
        &__list
          &-item
            &-title
              padding: 24px 60px 24px 30px

@media screen and (max-width: 1023px)
  .content-header-payment
    &__top-wrap
      padding: 21px 15px 25px
      .head-wrap
        margin-top: 25px
        align-items: center
        &__logo
          width: 120px
          height: 120px
          flex-shrink: 0
          margin-bottom: 0
        &__name
          margin: 0 15px 0 30px
          &-subtitle
            margin-top: 8px
  .content
    padding: 20px 15px 50px
    .content-center
      flex-direction: column
    &__side-menu
      width: auto
      margin: 0 -15px
      border-radius: 0
      padding: 0
      .side-menu__list::-webkit-scrollbar
        display: none
      .side-menu__list
        display: flex
        padding: 0 15px
        width: 100vw
        flex-flow: row nowrap
        justify-content: flex-start
        overflow: scroll
        background: transparent
        border-bottom: 1px solid $gray-light
        &-item
          border-bottom: 0
          margin-right: 25px
          flex-flow: row nowrap
          &:last-child
            margin-right: 0
          &:hover
            border-bottom: 2px solid $green-default
          a
            &:before
              margin-right: 12px
        .active
          border-bottom: 2px solid $green-default
      .casino-info
        display: none
    &__right-side
      width: 100%
      margin-top: 15px
      .faq
        &__list
          &-item
            &-title
              padding: 16px 45px 13px 20px
              font-size: 15px
              &:before
                right: 20px
            &-text
              padding: 0 20px 30px

@media screen and (max-width: 767px)
  .content-header-payment
    &__top-wrap
      padding: 21px 15px 18px
      .head-wrap
        flex-wrap: wrap
        justify-content: flex-start
        align-items: center
        margin-top: 20px
        &__logo
          width: 90px
          height: 90px
        &__name
          margin: 0 0 0 22px
          max-width: 230px
          &-subtitle
            .info
              margin-left: 13px
  .content
    .inner-title
      font-size: 18px
    &__right-side
      .bonuses__more
        margin-bottom: -12px
        padding-top: 18px
      .characteristics,
      .bonuses,
      .faq
        padding: 30px 26px
        border-radius: 2px
      .characteristics
        &__list
          margin-top: 25px
          width: 100%
          &-item
            &:last-child
              margin-bottom: 0
          &-text
            line-height: 16px
        &__txt
          margin-bottom: 25px
      .bonuses
        &__list-title
          display: none
        &__list
          &-item
            padding: 16px 0
          &-wrap
            width: 42%
            margin-right: 10px
          &-img
            margin-right: 12px
          &-name
            font-size: 14px
            line-height: 14px
          &-rate-mob
            display: flex
            font-size: 12px
            margin-top: 5px
            &:before
              width: 11px
              height: 11px
              margin: 0 5px 0 0
          &-rate
            display: none
          &-bonus
            display: none
          &-bonus-mob
            display: block
            margin-right: 10px
            margin-top: 3px
            span
              display: block
              font-size: 14px
              color: $dark
            span+span
              font-family: $font-gilroy-regular
              font-size: 12px
              color: $gray-semi
              margin-top: 1px
          &-btn
            font-size: 12px
            padding: 9px 10px 6px
      .faq
        &__list
          &-item
            &-title
              font-size: 14px
              padding: 16px 50px 13px 20px

@media screen and (max-width: 374px)
  .content-header-payment
    &__top-wrap
      .head-wrap
        &__logo
          width: 70px
          height: 70px
        &__name
          margin: 0 0 0 15px
          max-width: 202px
          &-title
            font-size: 18px
            line-height: 20px
          &-subtitle
            .info-icon
              flex-shrink: 0
              width: 25px
              height: 25px
              &:before
                width: 11px
                height: 7px
            .info
              font-size: 12px
              margin-left: 10px
  .content
    &__right-side
      .bonuses__more
        margin-bottom: -6px
      .characteristics,
      .bonuses,
      .faq
        padding: 20px
      .characteristics
        &__list
          &-item
            .info-icon
              width: 25px
              height: 25px
              &:before
                width: 11px
                height: 7px
      .bonuses
        &__list
          &-wrap
            width: 47%
          &-img
            margin-right: 10px
          &-bonus-mob
            width: 58px
          &-btn
            span
              display: none