.content-header-payment
  .content-header-payment__top-wrap
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li
          a(href="#") Payments
        li Skrill
      .head-wrap
        .head-wrap__logo
          img(src="img/review_company-logo.png" alt="Skrill")
        .head-wrap__name
          h1.head-wrap__name-title Skrill
          .head-wrap__name-subtitle
            .info-icon
            .info 3 245 Casino with Skrill
.content
  .content-center
    aside.content__side-menu
      ul.side-menu__list
        li.side-menu__list-item.item-1.active
          a(href="#") About
        li.side-menu__list-item.item-2
          a(href="#") Casino Use
        li.side-menu__list-item.item-3
          a(href="#") Support
        li.side-menu__list-item.item-4
          a(href="#") FAQ
      .casino-info
        .casino-info__img
          img(src="img/review_company-logo.png" alt="")
        .casino-info__name
          .name Skrill
    .content__right-side
      .characteristics
        h2.inner-title.characteristics__title Why use Skrill?
        .characteristics__txt.
          In the online gambling industry, there are few payment
          options that are as well-reputed and widely used as
          Skrill. With that said, this e-wallet, formerly known
          as Moneybookers, has long been established as a quick,
          convenient and safe method to transfer money to and from
          online casinos.
        .characteristics__txt.
          And fortunately you now no longer need to go on the hunt
          to find information about it and find the best Skrill
          Online Casinos to play at, here they are below!
        ul.characteristics__list
          li.characteristics__list-item
            .characteristics__list-icon.info-icon
            .characteristics__list-text Wide variety of slots games
          li.characteristics__list-item
            .characteristics__list-icon.info-icon
            .characteristics__list-text Sports betting
          li.characteristics__list-item
            .characteristics__list-icon.info-icon
            .characteristics__list-text 50+ Live Dealer games
          li.characteristics__list-item
            .characteristics__list-icon.info-icon
            .characteristics__list-text Great on mobile
      .bonuses
        h2.inner-title.bonuses__title Casinos that use Skrill
        ul.bonuses__list-title
          li Name casino
          li welcome bonus
          li action
        ul.bonuses__list
          li.bonuses__list-item
            .bonuses__list-wrap
              .bonuses__list-img
                img(src="img/top-casino-2.png" alt="")
              .mob-wrap
                .bonuses__list-name Betsson Casino
                .bonuses__list-rate-mob.rate 9.25 / 10
            .bonuses__list-rate.rate 9.25 / 10
            .bonuses__list-bonus $ 4000 + 200 Free Spins for 1st Deposit
            .bonuses__list-bonus-mob
              span $ 4000
              span 200 Free spins
            a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
          li.bonuses__list-item
            .bonuses__list-wrap
              .bonuses__list-img
                img(src="img/top-casino-1.png" alt="")
              .mob-wrap
                .bonuses__list-name Betsson
                .bonuses__list-rate-mob.rate 9.25 / 10
            .bonuses__list-rate.rate 9.25 / 10
            .bonuses__list-bonus $ 4000 + 200 Free Spins
            .bonuses__list-bonus-mob
              span $ 4000
              span 200 Free spins
            a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
          li.bonuses__list-item
            .bonuses__list-wrap
              .bonuses__list-img
                img(src="img/top-casino-3.png" alt="")
              .mob-wrap
                .bonuses__list-name Betsson Casino
                .bonuses__list-rate-mob.rate 9.25 / 10
            .bonuses__list-rate.rate 9.25 / 10
            .bonuses__list-bonus $ 4000 + 200 Free Spins
            .bonuses__list-bonus-mob
              span $ 4000
              span 200 Free spins
            a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
          li.bonuses__list-item
            .bonuses__list-wrap
              .bonuses__list-img
                img(src="img/top-casino-4.png" alt="")
              .mob-wrap
                .bonuses__list-name Betsson
                .bonuses__list-rate-mob.rate 9.25 / 10
            .bonuses__list-rate.rate 9.25 / 10
            .bonuses__list-bonus $ 4000 + 200 Free Spins
            .bonuses__list-bonus-mob
              span $ 4000
              span 200 Free spins
            a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
        .bonuses__info
          ul.bonuses__list
            li.bonuses__list-item
              .bonuses__list-wrap
                .bonuses__list-img
                  img(src="img/top-casino-2.png" alt="")
                .mob-wrap
                  .bonuses__list-name Betsson
                  .bonuses__list-rate-mob.rate 9.25 / 10
              .bonuses__list-rate.rate 9.25 / 10
              .bonuses__list-bonus $ 4000 + 200 Free Spins
              .bonuses__list-bonus-mob
                span $ 4000
                span 200 Free spins
              a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
            li.bonuses__list-item
              .bonuses__list-wrap
                .bonuses__list-img
                  img(src="img/top-casino-1.png" alt="")
                .mob-wrap
                  .bonuses__list-name Betsson
                  .bonuses__list-rate-mob.rate 9.25 / 10
              .bonuses__list-rate.rate 9.25 / 10
              .bonuses__list-bonus $ 4000 + 200 Free Spins
              .bonuses__list-bonus-mob
                span $ 4000
                span 200 Free spins
              a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
            li.bonuses__list-item
              .bonuses__list-wrap
                .bonuses__list-img
                  img(src="img/top-casino-3.png" alt="")
                .mob-wrap
                  .bonuses__list-name Betsson
                  .bonuses__list-rate-mob.rate 9.25 / 10
              .bonuses__list-rate.rate 9.25 / 10
              .bonuses__list-bonus $ 4000 + 200 Free Spins
              .bonuses__list-bonus-mob
                span $ 4000
                span 200 Free spins
              a(href="#").btn.green-btn.bonuses__list-btn Play #[span now]
        .bonuses__more
          .show-all View All
      .faq
        h2.inner-title.faq__title FAQ
        .faq__list
          details.faq__list-item
            summary.faq__list-item-title Is Visa a preferred method of payment?
            p.faq__list-item-text.
              There are some warning signs if you're concerned that you or
              someone you know may have a gambling addiction. If you're hiding
              your habit from other people, maxing out your bank account and
              getting into debt as a result of your real money gambling the
              chances are you may be addicted. Likewise, if you're bunking off
              work to gamble, sneaking around to gamble, and thinking about real
              money gaming 24/7 the likelihood is your hobby has turned into a
              habit and you should seek help.
          details.faq__list-item
            summary.faq__list-item-title.
              What is the difference between a VISA Debit Card and a VISA Credit Card?
            p.faq__list-item-text.
              The best new casinos added to our listing, including detailed
              casino reviews and ratings, bonuses, promotions, and
              experiences by real players right at your fingertips. Here you
              can find the top online casinos we have included in our database
              just recently. The best new casinos added to our listing,
              including detailed casino reviews and ratings, bonuses,
              promotions, and experiences by real players right at your
              fingertips. Here you can find the top online casinos we have
              included in our database just recently. The best new casinos
              added to our listing, including detailed casino reviews and
              ratings, bonuses, promotions, and experiences by real players
              right at your fingertips. Here you
          details.faq__list-item
            summary.faq__list-item-title.
              Is Visa safe to use at online casinos?
            p.faq__list-item-text.
              Test text
          details.faq__list-item
            summary.faq__list-item-title.
              What happens if their system detects a fraudulent payment to a VISA casino online?
            p.faq__list-item-text.
              Test text